{% macro menuItem(fileOrFolderName, fileOrFolder, step, currentPath) %}
    {%if fileOrFolder.isNote or fileOrFolder.isFolder%}
        {%if fileOrFolder.isNote and not fileOrFolder.hide %}
            <div x-show="isOpen" x-cloak class="{{'filelist' if step>0}}">
                <div @click.stop class="notelink {{ 'active-note' if fileOrFolder.permalink === permalink}}">
                    <a data-note-icon="{{fileOrFolder.noteIcon}}" style="text-decoration: none;" class="filename" href="{{fileOrFolder.permalink}}">{{fileOrFolder.name}} </a>
                </div>
            </div>
        {% elif fileOrFolder.isFolder%}
            <div class="folder inner-folder"  x-data="{isOpen: $persist(false).as('{{currentPath}}')}" :class="{ 'is-open': isOpen }">
                <div class="foldername-wrapper align-icon" @click.stop="isOpen=!isOpen">
                <i class="chevron" icon-name="chevron-right" aria-hidden="true"></i>
                <span class="foldername">{{fileOrFolderName}}</span>
                </div>
                <div x-show="isOpen" x-cloak class="{{'filelist' if step>0}}">
                    {% for fileOrFolderName, child in fileOrFolder %}
                        {{menuItem(fileOrFolderName, child, step+1, (currentPath+"/"+fileOrFolderName))}}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {%endif%}
    {% endmacro %}
    
    <div x-init="isDesktop = (window.innerWidth>=1400) ? true: false;" 
            x-on:resize.window="isDesktop = (window.innerWidth>=1400) ? true : false;" 
            x-data="{isDesktop: true, showFilesMobile: false}">

        <div x-show.important="!isDesktop" style="display: none;">
            {%include "components/filetreeNavbar.njk"%}
        </div>
        
        <div x-show="showFilesMobile && !isDesktop" @click="showFilesMobile = false" style="display:none;" class="fullpage-overlay"></div>

      <nav class="filetree-sidebar"  x-show.important="isDesktop || showFilesMobile" style="display: none;">
        <!-- Fixed header section -->
        <div class="sidebar-header">
            {% for imp in dynamics.filetree.beforeTitle %}
                {% include imp %}
            {% endfor %}
             <a href="/" style="text-decoration: none;">
                   <h1>{{meta.siteName}}</h1>
             </a>
             {% for imp in dynamics.filetree.afterTitle %}
                {% include imp %}
            {% endfor %}
            {% if settings.dgEnableSearch === true%}
                <div class="search-button-container">
                    {% include "components/searchButton.njk" %}
                </div>
            {%endif%}
        </div>
        
        <!-- Scrollable content section -->
        <div class="sidebar-content">
             <div class="folder" x-data="{isOpen: true}">
                   {%- for fileOrFolderName, fileOrFolder in filetree -%}
                      {{menuItem(fileOrFolderName, fileOrFolder, 0, fileOrFolderName)}}
                   {%- endfor -%}
             </div>
        </div>
      </nav>
    </div>
